PORT=3010
USE_LOCAL_FRONTEND=true
ALLOWED_ORIGINS=http://localhost:3010
CHAT_HISTORY_ALWAYS_JOIN=

TWITCH_CLIENT_ID=your_twitch_client_id
TWITCH_CLIENT_SECRET=your_twitch_client_secret

# Optional: static token refresh script
REFRESH_INTERVAL_MINUTES=55
