@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/file/e8e35d8b74041e29e532f15560378b222f1823e3.ttf) format('truetype');
}
